{% extends "landing/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <table class="table table-submit">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for resident in residents %}
                                <tr>
                                    <td>{{ resident.first_name }}</td>
                                    <td>{{ resident.last_name }}</td>
                                    <td>{{ resident.telephone }}</td>
                                    <td>{{ resident.email }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
