{% extends "landing/base.html" %}
{% load qr_code %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <form method="get" enctype="multipart/form-data">
                        <a class="blockquote">{{ building.name }}</a>
                        <br>
                        {{ building.description }}
                        <br>
                        {{ building.city }}
                        <br>
                        {{ building.postal_code }}
                        <br>
                        {{ building.street }} {{ building.street_number }}
                        <br>
                        {{ building.manager }}
                        <br>
                        <a class="btn btn-outline-info"
                           href="{% url "building-update" building.id %}">Edit</a>
                        <a class="btn btn-outline-info"
                           href="{% url "resident-list" building.id %}">Residents</a>
                        <a download
                           class="btn btn-outline-info"
                           href="{% url 'building-download' id_building=building.id filename='qr_code.png' %}">QR code</a>
                    </form>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
