{% extends "landing/base.html" %}
{% load qr_code %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <form method="get" enctype="multipart/form-data">
                        <h2 class="form-title-custom">{{ building.name }}</h2>
                        <div>
                            <strong>Opis budynku:</strong>
                            {% if building.description is None %}
                                ---
                            {% else %}
                                {{ building.description }}
                            {% endif %}
                        </div>
                        <div>
                            <strong>Miejscowość:</strong>
                            {% if building.city is None %}
                                ---
                            {% else %}
                                {{ building.city }}
                            {% endif %}
                        </div>
                        <div>
                            <strong>Kod pocztowy:</strong>
                            {% if building.postal_code is None %}
                                ---
                            {% else %}
                                {{ building.postal_code }}
                            {% endif %}
                        </div>
                        <div>
                            <strong>Adres:</strong>
                            {% if building.street is None %}
                                ---
                            {% else %}
                                {{ building.street }}
                            {% endif %}
                            {% if building.street_number is None %}
                                ---
                            {% else %}
                                {{ building.street_number }}
                            {% endif %}
                        </div>
                        <div>
                            <strong>Zarządca:</strong>
                            {% if building.manager is None %}
                                ---
                            {% else %}
                                {{ building.manager }}
                            {% endif %}
                        </div>
                        <div class="mt-4">
                            <a class="btn btn-outline-info"
                               href="{% url "building-update" building.id %}">Edytuj</a>
                        </div>
                        <div class="mt-1">
                            <a class="btn btn-outline-info"
                               href="{% url "resident-list" building.id %}">Mieszkańcy</a>
                        </div>
                        <div class="mt-1">
                            <a download
                               class="btn btn-outline-info"
                               href="{% url 'building-download' id_building=building.id filename='qr_code.png' %}">QR code</a>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}
