{% extends "landing/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                {% for building in buildings %}
                    <div class="container">
                        <a href="{% url "building-detail" building.id %}">{{ building }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock content %}
