{% extends "landing/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <form method="post">
        <div class="container">
            <h2 class="form-title-custom">Dodaj nowy budynek</h2>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="button-container">
                <button class="btn btn-outline-info" type="submit">Stwórz</button>
            </div>
        </div>
    </form>
{% endblock content %}
