{% extends "landing/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <h2 class="form-title-custom">{% trans "Report a fault" %}</h2>
        <h3 class="form-title-custom">{{ request.user.building }}</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-outline-info" type="submit">{% trans "Report" %}</button>
        </form>
    </div>
{% endblock content %}
