{% extends "landing/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <h2 class="form-title-custom">{% trans "Issues" %}</h2>
        {% if not issues %}
            <a class="align-center">{% trans "Currently there are no issues..." %}</a>
        {% endif %}
        {% for issue in issues %}
            <div class="mt-2">
                <a class="btn btn-outline-dark" href="{% url "issue-detail" issue.id %}">{{ issue }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <h2 class="form-title-custom">{% trans "Search" %}</h2>
        <form method="get" action="{% url 'issue-list' %}">
            {{ form|crispy }}
            <div class="centered">
                <button class="btn btn-info" type="submit">{% trans "Search" %}</button>
            </div>
        </form>
    </div>
{% endblock content %}
