{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="property management" />
        <meta name="description" content="property management app" />
        <link rel="stylesheet" type="text/css" href="{% static "default.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        {% include "landing/navbar.html" %}
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
        {% block javascript %}
        {% endblock javascript %}
    </body>
</html>
