{% extends "landing/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <form method="post">
        <div class="container">
            <h2 class="form-title-custom">
                {% trans "Invite" %}
                {% if invite == "invite_resident" %}
                    {% trans "resident" %}
                {% else %}
                    {% trans "property manager" %}
                {% endif %}
                {% trans "to this application" %}
            </h2>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="button-container">
                <button class="btn btn-outline-info" type="submit">{% trans "Send Invitation" %}</button>
            </div>
        </div>
    </form>
{% endblock content %}
