{% extends "landing/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Manage</h1>
        <a class="btn-info-outline" href="{% url 'building-create' %}">Create Building</a>
        <br>
        <a class="btn-info-outline" href="{% url 'building-list' %}">Buildings</a>
        <br>
        <a class="btn-info-outline"
           href="{% url 'invite-property-manager-send' %}">Send Invite to Property Manager</a>
        <br>
    </div>
{% endblock content %}
